<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="ban">
    <ion-title text-center>
      <img class="banner" src="../../assets/uvmradio.png">
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>
  <div id="barraazul"> <b> Programas </b> </div>

<ion-content class="fondo" padding>

  <ion-list >
    
      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&amp;mini=1&amp;light=1&amp;feed=%2FUVMRADIO%2Faserrin-aserran-27-abril-2018%2F" frameborder="0"></iframe>

      <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&amp;mini=1&amp;light=1&amp;feed=%2FUVMRADIO%2Flinces-al-aire-uvm-hispano-16-de-julio-2018%2F" frameborder="0"></iframe>

  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-1-junio-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-18-de-mayo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-11-de-mayo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-4-mayo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-27-abril-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-20-abril-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-13-abril-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-30-marzo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-16-marzo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-9-marzo-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-23-febrero-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-16-febrero-2018%2F" frameborder="0" ></iframe>
  <iframe width="100%" height="60" src="https://www.mixcloud.com/widget/iframe/?hide_cover=1&mini=1&light=1&feed=%2FUVMRADIO%2Fla-hora-de-ley-9-febrero-2018%2F" frameborder="0" ></iframe>

  </ion-list>

</ion-content>
