<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="ban">
    <ion-title text-center>
      <img class="banner" src="../../assets/uvmradio.png">
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>
  <div id="barraroja"> <b> Galeria </b> </div>



<div id="titulogaleria"><b>Grabación de Programa</b> <p>Número 1</p></div>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
         <img src="../../assets/img/pic20.jpg">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../assets/img/WhatsApp_listo1.jpg">
        </div>
      </ion-col>
      <ion-col>
        <div>
          <img src="../../assets/img/WhatsApp_listo4.jpg">
        </div>
      </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
          <div>
           <img src="../../assets/img/pic20.jpg">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="../../assets/img/WhatsApp_listo1.jpg">
          </div>
        </ion-col>
        <ion-col>
          <div>
            <img src="../../assets/img/WhatsApp_listo4.jpg">
          </div>
        </ion-col>
      </ion-row>


      <ion-row>
          <ion-col>
            <div>
             <img src="../../assets/img/pic21.jpg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <img src="../../assets/img/pic22.jpg">
            </div>
          </ion-col>
          <ion-col>
            <div>
              <img src="../../assets/img/pic23.jpg">
            </div>
          </ion-col>
        </ion-row>


  </ion-grid>
</ion-content>
