.image{
    height: 245px;
    width: 100%;
}
.ban ion-title{
    margin-top: 11px;
    margin-right: 39px;
}

.banner{
    maring: 0 auto; 
    height: 45px;
    width: 150x;
}

.fondo{
    --background: rgba(48,60,71,0.7);
  }

   div#barraroja {
    background: #ab3535;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
}

div#titulogaleria {
	text-align: center;
    margin-top: 28px;
    font-size: 30px;
    font-weight: lighter;
}

p {
    font-size: 21px;
    margin-bottom: -3px;
    margin-top: 9px;
  }