.image{
    height: 245px;
    width: 100%;
}
.ban ion-title{
    margin-top: 20px;
}

.banner{
    float: right;
    height: 70px;
    width: 150x;
}

.fondo{
    --background: rgba(48,60,71,0.7);
  }

  a {
    background-color: transparent;
    color: #4c8dff;
  }