.image{
    height: 245px;
    width: 100%;
}
.ban ion-title{
    margin-top: 11px;
    margin-right: 39px;
}

.banner{
    maring: 0 auto; 
    height: 45px;
    width: 150x;
}	
  h1 {
    text-align: center;
    color: #fff;
}
ion-card.sc-ion-card-md-h.sc-ion-card-md-s.hydrated {
    background: #fff;
    -webkit-box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.47);
    box-shadow: 6px 6px 21px -1px rgba(0,0,0,0.47);
}
 div#barraaqua {
    background: #29adaa;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
}
.fondo{
    --background: url('../../assets/FondoCultural.jpg');
  }