<ion-header>
  <ion-toolbar color="dark" >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="ban">
    <ion-title text-center>
      <img class="banner" src="../../assets/uvmradio.png">
    </ion-title>
  </div>
  </ion-toolbar>
</ion-header>
  <div id="barraaqua"> <b> Actividades Culturales </b> </div>

  
    
    <ion-content class="fondo" padding>
          
        <ion-card>
            <ion-card-header>
              <ion-card-title>Musica</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
          
        <ion-card>
            <ion-card-header>
              <ion-card-title>Canto</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Teatro</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Danza Arabe</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Danza Polinesia</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Canto</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Danza Jazz</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Danza Regional</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
           <ion-card>
            <ion-card-header>
              <ion-card-title>Danza Contemporanea</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    
    </ion-content>

