.image{
    height: 245px;
    width: 100%;
}
.ban ion-title{
    margin-top: 11px;
    margin-right: 39px;
}

.banner{
    maring: 0 auto; 
    height: 45px;
    width: 150x;
 width: 150x;
}
 div#barranaranja {
    background: #35a3ab;
    padding: 5px;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
}